<a href="https://colab.research.google.com/github/jwaes/ZX2D10GE01R-V4848/blob/master/netcalc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from datetime import datetime

# Define your filename
filename = "Verbruikshistoriek_elektriciteit_541448820047183849_20230505_20250204_kwartiertotalen.csv"

# Split the filename into parts
parts = filename.split('_')

# Extract the variables from the parts
ean_number    = parts[2]  # "541448820047183849"
start_date_str = parts[3]  # "20230505"
end_date_str   = parts[4]  # "20250204"

# Convert the date strings into datetime objects
start_date = datetime.strptime(start_date_str, "%Y%m%d")
end_date   = datetime.strptime(end_date_str, "%Y%m%d")

print("EAN Number:", ean_number)
print("Start Date:", start_date)
print("End Date:", end_date)

EAN Number: 541448820047183849
Start Date: 2023-05-05 00:00:00
End Date: 2025-02-04 00:00:00

In [2]:
import pandas as pd

# Read the CSV file with the proper delimiter and decimal settings
df = pd.read_csv(
    filename,
    delimiter=';',
    decimal=','
)

# Preview the first few rows
print(df.head())

# --- Cleaning the Data ---

# Clean the EAN-code column by removing the extra characters (=" and ")
df['EAN-code'] = df['EAN-code'].astype(str).str.replace('="', '', regex=False).str.replace('"', '', regex=False)

# Combine the date and time columns for the "start" timestamps into a single datetime column
df['Start_datetime'] = pd.to_datetime(
    df['Van (datum)'] + ' ' + df['Van (tijdstip)'],
    format='%d-%m-%Y %H:%M:%S'
)

# Similarly, combine the "end" date and time columns into a single datetime column
df['End_datetime'] = pd.to_datetime(
    df['Tot (datum)'] + ' ' + df['Tot (tijdstip)'],
    format='%d-%m-%Y %H:%M:%S'
)

# Convert the "Volume" column to a numeric type; any non-numeric entries will be set as NaN
df['Volume'] = pd.to_numeric(df['Volume'], errors='coerce')

# Check the data types to ensure everything is ready for calculations
print(df.info())

  Van (datum) Van (tijdstip) Tot (datum) Tot (tijdstip)  \
0  05-05-2023       00:00:00  05-05-2023       00:15:00
1  05-05-2023       00:00:00  05-05-2023       00:15:00
2  05-05-2023       00:15:00  05-05-2023       00:30:00
3  05-05-2023       00:15:00  05-05-2023       00:30:00
4  05-05-2023       00:30:00  05-05-2023       00:45:00

                EAN-code           Meter       Metertype        Register  \
0  ="541448820047183849"  1SAG3105019704  Digitale meter    Afname Nacht
1  ="541448820047183849"  1SAG3105019704  Digitale meter  Injectie Nacht
2  ="541448820047183849"  1SAG3105019704  Digitale meter    Afname Nacht
3  ="541448820047183849"  1SAG3105019704  Digitale meter  Injectie Nacht
4  ="541448820047183849"  1SAG3105019704  Digitale meter    Afname Nacht

   Volume Eenheid Validatiestatus   Omschrijving
0     NaN     kWh   Geen verbruik  Hoofdverblijf
1     NaN     kWh   Geen verbruik  Hoofdverblijf
2   0.045     kWh      Uitgelezen  Hoofdverblijf
3   0.000     kWh      Uitgelezen  Hoofdverblijf
4   0.042     kWh      Uitgelezen  Hoofdverblijf
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123080 entries, 0 to 123079
Data columns (total 14 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   Van (datum)      123080 non-null  object
 1   Van (tijdstip)   123080 non-null  object
 2   Tot (datum)      123080 non-null  object
 3   Tot (tijdstip)   123080 non-null  object
 4   EAN-code         123080 non-null  object
 5   Meter            123080 non-null  object
 6   Metertype        123080 non-null  object
 7   Register         123080 non-null  object
 8   Volume           122499 non-null  float64
 9   Eenheid          123080 non-null  object
 10  Validatiestatus  123080 non-null  object
 11  Omschrijving     123080 non-null  object
 12  Start_datetime   123080 non-null  datetime64[ns]
 13  End_datetime     123080 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), object(11)
memory usage: 13.1+ MB
None

In [3]:
# prompt: describe the ods134.parquet file content

import pandas as pd

# Assuming 'ods134.parquet' is in the current working directory
try:
    df_parquet = pd.read_parquet('ods134.parquet')
    print(df_parquet.info())  # Print info about columns, data types, non-null counts, etc.
    print(df_parquet.head())   # Show the first few rows of the DataFrame
    print(df_parquet.describe()) # Descriptive statistics for numerical columns
except FileNotFoundError:
    print("Error: 'ods134.parquet' not found. Please make sure the file exists in the current directory or provide the correct path.")
except Exception as e:
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24700 entries, 0 to 24699
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   datetime                  24700 non-null  datetime64[ms, Europe/Brussels]
 1   resolutioncode            24700 non-null  object
 2   qualitystatus             24700 non-null  object
 3   ace                       24700 non-null  float64
 4   systemimbalance           24700 non-null  float64
 5   alpha                     24700 non-null  float64
 6   alpha_prime               20860 non-null  float64
 7   marginalincrementalprice  24700 non-null  float64
 8   marginaldecrementalprice  24700 non-null  float64
 9   imbalanceprice            24700 non-null  float64
dtypes: datetime64[ms, Europe/Brussels](1), float64(7), object(2)
memory usage: 1.9+ MB
None
                   datetime resolutioncode qualitystatus     ace  \
0 2025-02-03 05:45:00+01:00          PT15M     DataIssue   3.149
1 2025-02-03 05:30:00+01:00          PT15M     DataIssue  -3.669
2 2025-02-03 05:15:00+01:00          PT15M     DataIssue  -1.411
3 2025-02-03 05:00:00+01:00          PT15M     DataIssue  -1.090
4 2025-02-03 04:45:00+01:00          PT15M     DataIssue  13.247

   systemimbalance  alpha  alpha_prime  marginalincrementalprice  \
0           25.334  0.000          0.0                    150.00
1           77.179  0.000          0.0                    150.00
2          108.843  0.000          0.0                    150.00
3          274.299  4.841          0.0                    150.00
4          145.124  0.000          0.0                    155.61

   marginaldecrementalprice  imbalanceprice
0                   102.939         102.939
1                   -80.000         -80.000
2                   -80.000         -80.000
3                   109.711         104.870
4                   120.077         120.077
                ace  systemimbalance         alpha   alpha_prime  \
count  24700.000000     24700.000000  24700.000000  20860.000000
mean      -3.112356       -47.540884      2.946321      0.000791
std       40.117696       158.268992     13.941997      0.114180
min     -728.416000     -1681.317000      0.000000      0.000000
25%      -11.673250      -117.008000      0.000000      0.000000
50%       -0.373500       -35.015000      0.000000      0.000000
75%       10.206500        32.044000      0.000000      0.000000
max      733.101000      1147.372000    199.847000     16.491000

       marginalincrementalprice  marginaldecrementalprice  imbalanceprice
count              24700.000000              24700.000000    24700.000000
mean                 169.539061               -101.972463       85.120956
std                   91.995634                209.181074      196.465255
min                  -44.000000               -980.000000     -980.000000
25%                  119.278750               -189.573250       36.653750
50%                  150.000000                -23.363000      115.000000
75%                  212.700500                 53.623750      195.413500
max                 2479.090000                706.120000     2450.000000

In [10]:
# prompt: describe the ods047.parquet file content

import pandas as pd

# Assuming 'ods047.parquet' is in the current working directory
try:
    df_parquet = pd.read_parquet('ods047.parquet')
    print(df_parquet.info())  # Print info about columns, data types, non-null counts, etc.
    print(df_parquet.head())   # Show the first few rows of the DataFrame
    print(df_parquet.describe()) # Descriptive statistics for numerical columns
except FileNotFoundError:
    print("Error: 'ods047.parquet' not found. Please make sure the file exists in the current directory or provide the correct path.")
except Exception as e:
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329180 entries, 0 to 329179
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   datetime                  329180 non-null  datetime64[ms, Europe/Brussels]
 1   qualitystatus             329180 non-null  object
 2   resolutioncode            329180 non-null  object
 3   netregulationvolume       329180 non-null  float64
 4   systemimbalance           329180 non-null  float64
 5   alpha                     329180 non-null  float64
 6   marginalincrementalprice  329180 non-null  float64
 7   marginaldecrementalprice  329180 non-null  float64
 8   strategicreserveprice     716 non-null     float64
 9   positiveimbalanceprice    329180 non-null  float64
 10  negativeimbalanceprice    329180 non-null  float64
dtypes: datetime64[ms, Europe/Brussels](1), float64(8), object(2)
memory usage: 27.6+ MB
None
                   datetime qualitystatus resolutioncode  netregulationvolume  \
0 2024-05-21 23:45:00+02:00     Validated          PT15M               56.474
1 2024-05-21 23:30:00+02:00     Validated          PT15M               84.264
2 2024-05-21 23:15:00+02:00     Validated          PT15M               63.907
3 2024-05-21 23:00:00+02:00     Validated          PT15M               88.163
4 2024-05-21 22:45:00+02:00     Validated          PT15M               46.319

   systemimbalance  alpha  marginalincrementalprice  marginaldecrementalprice  \
0          -65.454    0.0                     70.00                     29.76
1         -112.370    0.0                     94.89                     30.00
2          -92.096    0.0                    120.88                     29.50
3         -122.046    0.0                    122.44                   -330.94
4          -54.042    0.0                    120.78                     23.63

   strategicreserveprice  positiveimbalanceprice  negativeimbalanceprice
0                    NaN                   70.00                   70.00
1                    NaN                   94.89                   94.89
2                    NaN                  120.88                  120.88
3                    NaN                  122.44                  122.44
4                    NaN                  120.78                  120.78
       netregulationvolume  systemimbalance          alpha  \
count        329180.000000    329180.000000  329180.000000
mean              5.075166        -5.248238       2.094615
std             133.941861       161.951523      10.879375
min           -2211.600000     -1685.325000       0.000000
25%             -75.058250       -93.859000       0.000000
50%               2.337500        -1.735500       0.000000
75%              82.307000        86.916250       0.920000
max            1535.723000      2411.871000     200.000000

       marginalincrementalprice  marginaldecrementalprice  \
count             329180.000000             329180.000000
mean                 118.335118                 12.523683
std                  116.327982                 72.899548
min                 -950.000000              -4574.690000
25%                   58.360000                  3.440000
50%                   73.740000                 10.320000
75%                  136.402500                 20.390000
max                 3455.720000                426.100000

       strategicreserveprice  positiveimbalanceprice  negativeimbalanceprice
count             716.000000           329180.000000           329180.000000
mean               81.077249               74.392847               74.820548
std               107.502207              127.449112              127.425745
min              -180.000000            -4574.690000            -4574.690000
25%                14.230000                9.740000               10.000000
50%                50.500000               52.810000               53.000000
75%                80.000000               92.200000               92.640000
max               582.820000             3455.720000             3455.720000

In [7]:
# prompt: create a joined dataset consisting of the common columns of both ods134.parquet and ods047.parquet files

import pandas as pd

try:
    df_ods134 = pd.read_parquet('ods134.parquet')
    df_ods047 = pd.read_parquet('ods047.parquet')

    # Find common columns
    common_cols = list(set(df_ods134.columns) & set(df_ods047.columns))

    # Create joined dataset
    if common_cols:
        joined_df = pd.merge(df_ods134[common_cols], df_ods047[common_cols], how='inner', on=common_cols)
        print(joined_df.info())  # Print info about columns, data types, non-null counts, etc.
        print(joined_df.head())   # Show the first few rows of the DataFrame
        print(joined_df.describe()) # Descriptive statistics for numerical columns
    else:
        print("No common columns found between the two datasets.")

except FileNotFoundError:
    print("Error: One or both parquet files not found.  Please ensure 'ods134.parquet' and 'ods047.parquet' are in the current directory.")
except Exception as e:
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   alpha                     0 non-null      float64
 1   qualitystatus             0 non-null      object
 2   resolutioncode            0 non-null      object
 3   marginaldecrementalprice  0 non-null      float64
 4   systemimbalance           0 non-null      float64
 5   marginalincrementalprice  0 non-null      float64
 6   datetime                  0 non-null      datetime64[ms, Europe/Brussels]
dtypes: datetime64[ms, Europe/Brussels](1), float64(4), object(2)
memory usage: 132.0+ bytes
None
Empty DataFrame
Columns: [alpha, qualitystatus, resolutioncode, marginaldecrementalprice, systemimbalance, marginalincrementalprice, datetime]
Index: []
       alpha  marginaldecrementalprice  systemimbalance  \
count    0.0                       0.0              0.0
mean     NaN                       NaN              NaN
std      NaN                       NaN              NaN
min      NaN                       NaN              NaN
25%      NaN                       NaN              NaN
50%      NaN                       NaN              NaN
75%      NaN                       NaN              NaN
max      NaN                       NaN              NaN

       marginalincrementalprice
count                       0.0
mean                        NaN
std                         NaN
min                         NaN
25%                         NaN
50%                         NaN
75%                         NaN
max                         NaN

In [12]:
import pandas as pd

try:
    df_ods134 = pd.read_parquet('ods134.parquet')
    df_ods047 = pd.read_parquet('ods047.parquet')

    # Find common columns between the two DataFrames
    common_cols = list(set(df_ods134.columns) & set(df_ods047.columns))

    if common_cols:
        # Concatenate the two DataFrames, keeping only the common columns
        joined_df = pd.concat([df_ods134[common_cols], df_ods047[common_cols]], ignore_index=True)
        print(joined_df.info())   # Print info about columns, data types, non-null counts, etc.
        print(joined_df.head())   # Show the first few rows of the DataFrame
        print(joined_df.describe())  # Descriptive statistics for numerical columns
    else:
        print("No common columns found between the two datasets.")

except FileNotFoundError:
    print("Error: One or both parquet files not found. Please ensure 'ods134.parquet' and 'ods047.parquet' are in the current directory.")
except Exception as e:
    print(f"An error occurred: {e}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 353880 entries, 0 to 353879
Data columns (total 7 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   alpha                     353880 non-null  float64
 1   qualitystatus             353880 non-null  object
 2   resolutioncode            353880 non-null  object
 3   marginaldecrementalprice  353880 non-null  float64
 4   systemimbalance           353880 non-null  float64
 5   marginalincrementalprice  353880 non-null  float64
 6   datetime                  353880 non-null  datetime64[ms, Europe/Brussels]
dtypes: datetime64[ms, Europe/Brussels](1), float64(4), object(2)
memory usage: 18.9+ MB
None
   alpha qualitystatus resolutioncode  marginaldecrementalprice  \
0  0.000     DataIssue          PT15M                   102.939
1  0.000     DataIssue          PT15M                   -80.000
2  0.000     DataIssue          PT15M                   -80.000
3  4.841     DataIssue          PT15M                   109.711
4  0.000     DataIssue          PT15M                   120.077

   systemimbalance  marginalincrementalprice                  datetime
0           25.334                    150.00 2025-02-03 05:45:00+01:00
1           77.179                    150.00 2025-02-03 05:30:00+01:00
2          108.843                    150.00 2025-02-03 05:15:00+01:00
3          274.299                    150.00 2025-02-03 05:00:00+01:00
4          145.124                    155.61 2025-02-03 04:45:00+01:00
               alpha  marginaldecrementalprice  systemimbalance  \
count  353880.000000             353880.000000    353880.000000
mean        2.154062                  4.532119        -8.200166
std        11.122647                 94.066769       162.055698
min         0.000000              -4574.690000     -1685.325000
25%         0.000000                  2.650000       -95.669000
50%         0.000000                 10.100000        -4.411000
75%         0.890000                 21.180250        83.344000
max       200.000000                706.120000      2411.871000

       marginalincrementalprice
count             353880.000000
mean                 121.909034
std                  115.536125
min                 -950.000000
25%                   59.230000
50%                   76.550000
75%                  150.000000
max                 3455.720000